{
    "extends": ["@clausehq/eslint-config"],
    "parser": "babel-eslint",
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"],
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      },
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "no-script-url": 0,
      "no-console": [0, "error"]
    }
  }