.parseError {
    background-color: #e98181;
}

/* @font-face {
    font-family: 'Graphik';
    src: url('../public/fonts/Graphik-400.woff'),
         url('../public/fonts/Graphik-400.woff2');
  }
  
   @font-face {
    font-family: 'Graphik';
    src: url('../public/fonts/Graphik-400-Italic.woff'),
         url('../public/fonts/Graphik-400-Italic.woff2');
    font-style: italic;
  }
  
   @font-face {
    font-family: 'Graphik';
    src: url('../public/fonts/Graphik-600.woff'),
         url('../public/fonts/Graphik-600.woff2');
    font-weight: bold;
  }
  
   @font-face {
    font-family: 'Graphik';
    src: url('../public/fonts/Graphik-600-Italic.woff'),
         url('../public/fonts/Graphik-600-Italic.woff2');
    font-weight: bold;
    font-style: italic;
  }
  
   body, html {
    font-family: 'IBM Plex Sans', sans-serif;	  font-family: 'Graphik', sans-serif;
    height: 100%;	  height: 100%;
    margin: 0;	  margin: 0;
  }	
  
  	h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'IBM Plex Sans', sans-serif;	  font-family: 'Graphik', sans-serif;
  }	 */